.curveTypeButtonGroup {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.5rem;
  border: solid 1px var(--primary-dark-bg);
}

.btn {
  composes: btn-clean from global;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  background-color: var(--secondary-light-bg);
  transition: background-color 0s ease-out;
}

.btn:hover,
.btn[aria-checked='true'] {
  transition-duration: 0.2s, 0.2s;
}

.btn:hover {
  background-color: var(--secondary-light);
}

.btn[aria-checked='true'] {
  background-color: var(--primary-dark-bg);
  font-weight: 600;
}
