.sliderWrapper {
  display: flex;
  padding: 0 0 0 0.5rem;
}

.slider {
  display: flex;
  width: 8rem;
  margin-right: 0.25rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.slider:global(.disabled) {
  opacity: 0.5;
  pointer-events: none;
}

.track {
  align-self: center;
  height: 0.375rem;
  background-color: var(--secondary-dark-15);
  box-shadow: var(--btn-shadow-pressed) var(--secondary);
  border-radius: 0.25rem;
}

.thumb {
  display: flex;
  align-items: center;
  height: 100%;
}

.thumbBtnLike {
  composes: btnLike from '../Toolbar.module.css';
  min-width: 2rem;
  padding: 0.375rem;
  background-color: var(--white);
  box-shadow: var(--btn-shadow-idle) var(--secondary);
}

.thumb:hover > .thumbBtnLike {
  box-shadow: var(--btn-shadow-idle) var(--secondary-dark);
}

.autoBtnLike {
  composes: btnLike from '../Toolbar.module.css';
  font-size: 0.875em;
  border-radius: 0.875rem;
  color: var(--black);
}
