.group {
  display: flex;
  padding: 0 0.25rem;
}

.btn {
  composes: btn from '../Toolbar.module.css';
  padding: 1px;
}

.btnLike {
  composes: btnLike from '../Toolbar.module.css';
}

.btn:not(:first-child) > .btnLike {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn:not(:last-child) > .btnLike {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn[aria-checked='false'] > .btnLike {
  background-color: rgba(27, 153, 139, 0.15);
  box-shadow: var(--btn-shadow-idle) var(--secondary);
}

.btn[aria-checked='false']:hover > .btnLike {
  box-shadow: var(--btn-shadow-idle) var(--secondary-dark);
}

.icon {
  composes: icon from '../Toolbar.module.css';
}

.label {
  composes: label from '../Toolbar.module.css';
}
