node_modules/

/build/
/cypress/debug/
/cypress/snapshots/**/__diff_output__

# Ignore failed snapshot attempts so CI doesn't open unnecessary PRs
/cypress/snapshots/**/*attempt*.snap.png

/storybook-static/
/packages/**/dist/

/.env.local
/.env.*.local

npm-debug.log*
*.log
Thumbs.db
.DS_Store
