# Enforce Node and pnpm versions as specified in `package.json`
engine-strict=true

# Save exact dependency versions in `package.json`
save-prefix=""

# Don't fail install when encountering unmet peer dependencies
strict-peer-dependencies=false

# Run `postversion` script after `pnpm version`
enable-pre-post-scripts=true

# Branch that must be checked out when publishing
publish-branch=main

scope=@h5web
