# Enforce Node and pnpm versions as specified in `package.json`
engine-strict=true

# Don't check exact pnpm version in `packageManager` field (required by Netlify)
package-manager-strict=false

# Save exact dependency versions in `package.json`
save-prefix=""

# Branch that must be checked out when publishing
publish-branch=main

scope=@h5web
