.visManager {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
}

.visBar {
  flex: none;
  display: flex;
  height: var(--toolbar-height);
  background-color: var(--secondary-light-bg);
}

.visArea {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template:
    'dimMapper bar' auto
    'dimMapper vis' 1fr
    / min-content 1fr;
}

.fallback {
  composes: fallback from global;
}

.dimMapper {
  grid-area: dimMapper;
}

.vis {
  grid-area: vis;
}
