*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans-serif);
  line-height: 1.2;
  color: #020402;
}

@media (min-width: 50em) {
  body {
    font-size: 1.125rem;
  }
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

code,
pre {
  font-family: var(--monospace);
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

.reflex-splitter {
  width: 5px !important;
  border-color: lightgray !important;
  transition: background-color 0.2s ease-in-out !important;
}

.reflex-splitter:hover {
  background-color: lightgray !important;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    filter: invert();

    /* Set shadows to lighter colors so they remain dark once inverted */
    --h5w-btnRaised--shadowColor: #f5f5f5;
    --h5w-btnRaised-hover--shadowColor: #fff;
    --h5w-domainSlider-track--shadowColor: #f5f5f5;
    --h5w-domainSlider-dataTrack--shadowColor: #fff;
  }

  [data-keep-colors],
  [data-keep-canvas-colors] canvas {
    filter: invert(); /* invert back to normal colors */
  }
}
