.wrapper {
  position: relative;
  flex: 1 1 0%;
}

.grid {
  position: absolute !important; /* prevent feedback loop with `useMeasure` on wrapper */
  color: var(--h5w-matrix--color, inherit);
  font-family: var(--h5w-matrix--fontFamily, monospace);
  font-size: var(--h5w-matrix--fontSize, inherit);
  scrollbar-width: thin;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--h5w-matrix-cell--bgColor, transparent);
}

.cell[data-bg] {
  background-color: var(--h5w-matrix-cell--bgColorAlt, #eee);
}

.indexCell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--h5w-matrix-indexCell--bgColor, #eee);
  color: var(--h5w-matrix-indexCell--color, var(--h5w-matrix--color, inherit));
  font-family: var(
    --h5w-matrix-indexCell--fontFamily,
    var(--h5w-matrix--fontFamily, monospace)
  );
  font-size: var(
    --h5w-matrix-indexCell--fontSize,
    var(--h5w-matrix--fontSize, inherit)
  );
  font-weight: var(--h5w-matrix-indexCell--fontWeight, 600);
}

.indexCell[data-bg] {
  background-color: var(--h5w-matrix-indexCell--bgColorAlt, lightgray);
}

.stickyGrid[data-sticky] .stickyElement {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
}

.indexRow {
  composes: stickyElement;
  display: flex;
  z-index: 2;
}

.indexColumn {
  composes: stickyElement;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.anchorCell {
  composes: indexCell stickyElement;
  align-items: stretch;
  z-index: 3;
}

.innerContainer {
  display: flex;
}

.anchorBtn {
  composes: btnClean from '../../../utils.module.css';
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchorBtn:hover,
.anchorBtn[aria-pressed='true'] {
  background-color: var(--h5w-matrix-anchorCell--bgColor, silver);
}
