*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans-serif);
  line-height: 1.2;
  color: var(--black);
}

@media (min-width: 50em) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  font-family: var(--monospace);
}

[hidden] {
  display: none !important;
}

[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

#root {
  height: 100vh;
}
