.btn-clean {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-align: left;
  white-space: normal;
  cursor: pointer;
}

.btn-clean:disabled,
.btn-clean[aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
}

.reflex-splitter {
  width: 5px !important;
  border-color: var(--light-gray) !important;
  transition: background-color 0.2s ease-in-out !important;
}

.reflex-splitter:hover {
  background-color: var(--light-gray) !important;
}
