:root {
  --black: #020402;
  --primary: #c0da74;
  --primary-light: #d4e09b;
  --primary-dark: #9aae5d;
  --primary-bg: #f5fbef;
  --primary-light-bg: #fafdf7;
  --primary-dark-bg: #dde2d7;
  --secondary: #8cdfc7;
  --secondary-light: #b7fcf3;
  --secondary-dark: #1b998b;
  --secondary-darker: #0e5846;
  --secondary-bg: #d9f4ec;
  --secondary-light-bg: #ecfaf6;
  --danger: #99231b;
  --monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --btn-shadow-idle: -1px -1px 2px 0 inset;
  --btn-shadow-pressed: 1px 1px 2px 0 inset;
}
