.root {
  flex: 1 1 0%;
  display: flex;
  min-width: 0;
  min-height: 0;
  margin: 1rem;
}

.tooltipValue {
  margin-top: 0.25rem;
}

.tooltipValue > strong {
  font-weight: 600;
  font-size: 1.125em;
}
