.root {
  position: relative;
  display: flex;
}

.btn {
  composes: btn from './Toolbar.module.css';
}

.btnLike {
  composes: btnLike from './Toolbar.module.css';
}

.icon {
  composes: icon from './Toolbar.module.css';
}

.menu {
  composes: popup from './Toolbar.module.css';
  right: 0.25rem;
}

.menuList {
  composes: popupInner from './Toolbar.module.css';
  display: grid;
  grid-gap: 0.25rem;
  margin: 0;
  padding: 0.375rem 0.25rem;
  list-style-type: none;
}

.menu > li {
  display: flex;
  justify-content: flex-end;
  min-height: 2.25rem;
}
