.toolbar {
  flex: 1 1 0%;
  display: flex;
  min-width: 0;
  padding: 0 0.5rem;
  font-size: 0.875rem;
}

.controls {
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-end;
  min-width: 0;
}

.measuringContainer {
  position: relative;
  overflow: hidden;
}

.measuredControl {
  position: absolute;
}

.btn {
  composes: btn-clean from global;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}

.btn:disabled,
.btn[aria-disabled='true'] {
  opacity: 0.5;
  pointer-events: none;
}

.btn[data-small] {
  padding: 0 0.125rem;
}

.btnLike {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
  white-space: nowrap;
}

.btn[data-small] > .btnLike {
  height: 1.75rem;
  border-radius: 0.875rem;
  font-size: 0.875em;
}

.btn[data-raised] > .btnLike {
  background-color: var(--btn-bg-raised);
  box-shadow: var(--btn-shadow-raised) var(--btn-shadow-color);
}

.icon {
  font-size: 1.5em;
  padding-top: 1px;
}

.btn[data-small] .icon {
  opacity: 0.8;
}

.icon:not(:last-child) {
  margin-right: 0.375rem;
}

.btn[data-small] .icon:not(:last-child) {
  margin-right: 0.25rem;
}

.label {
  margin-right: 0.125rem;
  line-height: 1.5em;
}

.btn:hover > .btnLike {
  background-color: var(--secondary-lighter);
  box-shadow: var(--btn-shadow-idle) var(--btn-shadow-color);
}

.btn[data-raised]:hover > .btnLike {
  box-shadow: var(--btn-shadow-raised) var(--btn-shadow-color),
    var(--btn-shadow-idle) var(--btn-shadow-color);
}

.btn[aria-pressed='true'] > .btnLike,
.btn[aria-checked='true'] > .btnLike {
  background-color: var(--secondary-light);
  box-shadow: var(--btn-shadow-pressed) var(--btn-shadow-dark-color);
}

.btn[aria-pressed='true']:hover > .btnLike,
.btn[aria-checked='true']:hover > .btnLike {
  box-shadow: var(--btn-shadow-pressed) var(--btn-shadow-darker-color);
}

.btn[aria-expanded='true'] > .btnLike {
  background-color: var(--secondary-lighter);
  box-shadow: var(--btn-shadow-pressed) var(--btn-shadow-color);
}

.btn[aria-expanded='true']:hover > .btnLike {
  box-shadow: var(--btn-shadow-pressed) var(--btn-shadow-dark-color);
}

.popup {
  position: absolute;
  bottom: 1px; /* guarantees overlap with toolbar for hover-only popup */
  padding-top: calc(0.375rem + 1px);
  transform: translateY(100%);
}

.popupInner {
  background-color: var(--secondary-light-bg-90);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 4px 11px;
}
