.root {
  display: flex;
  flex-direction: column;
}

.sliderWrapper {
  display: flex;
  height: 2.5rem;
  --h5w-domainSlider-track--width: 12rem;
}

.info {
  min-width: 25em;
  padding-left: 0;
}

.resetBtn {
  margin-left: 0.75rem;
}
