.dropZone {
  position: relative;
  display: flex;
  min-height: 100%;
  background-color: var(--primary-bg);
}

.dropZone[data-active]::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--primary);
  opacity: 0.8;
}

.dropZone[data-disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.dropIt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.h5web {
  flex: 1;
  display: flex;
  min-width: 0;
  height: 100vh;
  z-index: 0; /* STACKING CONTEXT */
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 3rem 1.5rem;
  border: 3px dashed currentColor;
  border-radius: 2rem;
  font-size: 1.125rem;
  text-align: center;
}

.drop {
  margin: -2vh 0 0;
}

.drop > span {
  font-size: 2rem;
}

.browseBtn {
  composes: btnClean from global;
  display: block;
  margin: 0.25rem auto 0;
  padding: 0.25rem 1rem;
  color: #444;
  text-decoration: underline;
}

.browseBtn:hover,
.browseBtn:focus-visible {
  text-decoration: none;
}

.fromUrl {
  margin-top: 1.5rem;
}

.fromUrl::before {
  content: '';
  display: block;
  width: 15rem;
  margin: 0 auto 1.5rem;
  border-top: 2px solid currentColor;
}

.hint {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  font-style: italic;
}

.hint[role='alert'] {
  color: crimson;
}
