.dropZone {
  display: flex;
  min-height: 100%;
  padding: 2rem;
  background-color: var(--primary-bg);
  text-align: center;
  font-size: 1.125rem;
}

.activeDropZone {
  composes: dropZone;
  background-color: var(--primary);
}

.dropZone[data-disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 3px dashed currentColor;
  border-radius: 2rem;
}

.drop {
  margin: -2vh 0 0;
}

.drop > span {
  font-size: 2rem;
}

.browseBtn {
  composes: btnClean from global;
  display: block;
  margin: 0.25rem auto 0;
  padding: 0.25rem 1rem;
  color: #444;
  text-decoration: underline;
}

.browseBtn:hover,
.browseBtn:focus-visible {
  text-decoration: none;
}

.fromUrl {
  margin-top: 1.5rem;
}

.fromUrl::before {
  content: '';
  display: block;
  width: 15rem;
  margin: 0 auto 1.5rem;
  border-top: 2px solid currentColor;
}

.urlForm {
  display: flex;
  align-self: stretch;
  font-size: 1rem;
}

.urlForm > fieldset {
  flex: 1;
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
}

.urlInput {
  flex: 1;
  max-width: 20rem;
}

.urlBtn {
  composes: btnClean from global;
  composes: ctaBtn from '../Home.module.css';
  margin-left: 0.5rem;
  margin-right: 0;
}

.urlLoader {
  animation: spin 1s ease-in-out infinite;
}

.hint {
  margin: 0.5rem 0 0;
  font-size: 1rem;
  font-style: italic;
}

.hint[role='alert'] {
  color: crimson;
}

.dropIt {
  font-size: 5rem;
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}
