.dropZone {
  height: 100%;
  padding: 2rem;
  text-align: center;
  background-color: var(--primary-bg);
}

.activeDropZone {
  composes: dropZone;
  background-color: var(--primary);
}

.dropZone[data-disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 3vh;
  border: 3px dashed currentColor;
  border-radius: 2rem;
}

.content {
  font-size: 2rem;
  margin: 0;
}

.btn {
  composes: btnClean from global;
  display: block;
  margin: 0.25rem auto 0;
  padding: 0.25rem 1rem;
  color: #444;
  font-size: 1.125rem;
  text-decoration: underline;
}

.btn:hover,
.btn:focus-visible {
  text-decoration: none;
}

.hint {
  margin: 2rem 0 0;
  font-style: italic;
}

.hint[role='alert'] {
  color: crimson;
}

.dropIt {
  font-size: 5rem;
}
