.container {
  display: flex;
  flex-direction: column;
}

.inputRow {
  display: flex;
  flex-direction: column;
}

.inputRow input {
  border-radius: 0.5rem;
  margin: 0.625rem;
  padding: 0.25rem;
  box-shadow: none;
}

.entries {
  list-style: none;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

.entries button {
  padding-left: 1rem;
}
