.tooltip {
  color: inherit !important;
  background-color: var(--primary-light-bg-70) !important;
}

.guides {
  stroke: var(--secondary-axis-color);
  stroke-width: 1.5;
  stroke-opacity: 0.5;
}

.tooltipValue {
  display: block;
  font-weight: 600;
  margin-top: 0.25rem;
  font-size: 1.125em;
}
