.mapper {
  flex: none;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.75rem 1.5rem 0.75rem;
  background-color: var(--primary-light-bg);
  overflow: hidden auto;
  scrollbar-width: thin;
}

.axisMapperWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.axisMapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  padding-left: 0.25rem;
}

.axisLabel {
  margin-right: 0.25rem;
  font-family: math;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  line-height: calc(1.2 / 1.25); /* reduce height proportionally to font-size */
}

.dims {
  composes: axisMapper;
  padding-right: 0.25rem;
}

.dimsLabel {
  composes: axisLabel;
  margin-right: 0.5rem;
}

.dimSize {
  flex: 1 0 auto;
  text-align: center;
}

.sliders {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.sliderWrapper {
  flex: 0 1 4rem;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.sliderLabel {
  margin-bottom: 0.5rem;
  text-align: center;
}

.slider {
  flex: 1 1 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 5rem;
  cursor: pointer;
}

.sliderTrack {
  width: 2px;
  background-color: var(--secondary-dark);
}

.sliderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
  background-color: var(--primary-bg);
  border: 2px solid var(--secondary);
  border-radius: 1.5em;
}

.sliderThumb {
  composes: sliderButton;
  height: 1.5rem;
  min-width: 1.5rem;
  font-size: 0.625rem;
  cursor: grab;
}

.sliderThumb:global(.active) {
  border-color: var(--secondary-dark);
}

.sliderThumb:active {
  cursor: none;
}
