.root {
  font-size: 1.125em;
  line-height: 1.5;
}

.header {
  background-color: var(--primary-bg);
}

.max {
  margin: 0 auto;
  padding: 0 1.5em;
}

.header > .max {
  padding-top: 3em;
  padding-bottom: 3em;
}

.title {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}

.intro {
  margin: 0.5em 0 0.75em;
}

.intro > span {
  white-space: nowrap;
}

.cta {
  display: flex;
}

.ctaBtn {
  text-decoration: none;
  background-color: var(--primary);
  margin-right: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.75em 0.25em;
  color: inherit;
}

.ctaBtn:hover,
.ctaBtn:focus-visible {
  background-color: var(--secondary);
}

.ctaBtn:hover {
  text-decoration: underline;
}

.demos {
  margin-bottom: 3em;
}

.demos h2 {
  margin-top: 1.5em;
}

.demos a:not(.demoLink):hover,
.demos a:not(.demoLink):focus-visible {
  text-decoration: none;
}

.demoLink {
  display: inline-flex;
  align-items: center;
  color: var(--primary-dark);
  text-decoration: none;
}

.demoLink:hover,
.demoLink:focus-visible {
  color: var(--secondary-dark);
}

.demoLink:hover {
  text-decoration: underline;
}

.demoLink > svg {
  margin-left: 0.25em;
}

.demoContext {
  padding-left: 1em;
  border-left: 5px solid var(--secondary-bg);
  color: var(--secondary-dark);
  font-style: italic;
}

.demoFiles {
  font-size: 0.875em;
}

.tip {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--secondary-darker);
  background-color: var(--secondary-light-bg);
  margin-top: 2.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.tipIcon {
  font-size: 3.5em;
  color: var(--secondary-dark);
}

.tip > p {
  margin: 0;
}

.demoContext a,
.tip a {
  color: inherit;
}

@media (min-width: 40em) {
  .max {
    max-width: 45em;
    padding: 0 2em;
  }

  .title {
    font-size: 3em;
  }

  .intro {
    font-size: 1.25em;
  }
}

@media (min-width: 70em) {
  .root {
    font-size: 1.25em;
  }

  .max {
    max-width: 90em;
    padding: 0 3em;
  }

  .intro {
    font-weight: 300;
  }

  .ctaBtn {
    margin-right: 0.75em;
  }

  .demos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.5em;
  }

  .demos > section:nth-child(odd) {
    padding-right: 2.5em;
  }

  .demos > section:nth-child(even) {
    padding-left: 2.5em;
  }
}

@media (min-width: 130em) {
  .title {
    font-size: 4em;
  }

  .intro {
    font-size: 1.5em;
  }
}
