.container {
  flex: 0 1 4rem;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  --thumb-height: 1.5rem;
  --mark-height: 0.5rem;
}

.label {
  margin-bottom: 0.5rem;
  text-align: center;
}

.slider {
  flex: 1 1 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 5rem;
  cursor: pointer;
}

.track {
  flex: 1 0 auto;
  margin: calc(var(--thumb-height) / 2) 0;
  width: 2px;
  background-color: var(--secondary-dark);
  border-radius: 1px;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
  background-color: var(--primary-bg);
  border: 2px solid var(--secondary);
  border-radius: 1.5em;
  height: var(--thumb-height);
  min-width: 1.5rem;
  font-size: 0.625rem;
  cursor: grab;
}

.thumb:global(.active) {
  border-color: var(--secondary-dark);
}

.thumb:active {
  cursor: none;
}

.mark {
  width: var(--mark-height);
  height: var(--mark-height);
  background-color: var(--primary-bg);
  border: 2px solid var(--secondary-dark);
  border-radius: 50%;
  transform: translateY(-100%);
}
