.explorer {
  display: flex;
  scrollbar-width: thin;
  background-color: var(--primary-bg);
}

.mainArea {
  display: flex;
  flex-direction: column;
}

.fallback {
  padding: 1em;
  color: var(--secondary-dark);
}
