.app {
  height: 100vh;
}

.explorer {
  display: flex;
  scrollbar-width: thin;
  background-color: var(--primary-bg);
}

.mainArea {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  background-color: var(--secondary-bg);
  padding: 0.4rem;
}

.roleToggler {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}

.btn {
  composes: btn-clean from global;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.8rem;
  padding-bottom: 0.3rem;
  background-color: var(--secondary-light-bg);
  transition: background-color 0s ease-out;
}

.btn:hover,
.btn[aria-selected='true'] {
  transition-duration: 0.2s, 0.2s;
}

.btn:hover {
  background-color: var(--secondary-light);
}

.btn[aria-selected='true'] {
  background-color: var(--secondary);
  font-weight: bold;
}
