.axisSystem {
  display: grid;
  grid-template-areas:
    '. top-axis .'
    'left-axis axis-grid right-axis'
    '. bottom-axis .';

  /* - Prevent panning/zooming from axis when zoomed in.
   * - Prevent text selection of tick labels when panning with touchpad. */
  pointer-events: none;
}

.leftAxisCell {
  grid-area: left-axis;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.bottomAxisCell {
  grid-area: bottom-axis;
  display: flex;
}

.axisGridCell {
  grid-area: axis-grid;
  display: flex;
}

.axis {
  display: block;
  overflow: visible;
  flex: 1 1 0%;
}

.axis[data-orientation='left'] {
  text-anchor: end;
  min-height: 0;
}

.axis[data-orientation='bottom'] {
  min-width: 0;
  text-anchor: middle;
}

.tick > text {
  fill: darkslategrey;
  font-family: inherit;
  font-size: inherit;
  text-anchor: inherit;
  dominant-baseline: inherit;
}
