.axisSystem {
  display: grid;
  grid-template-areas:
    '. top-axis .'
    '. axis-grid right-axis'
    '. bottom-axis .';

  /* - Prevent panning/zooming from axis when zoomed in.
   * - Prevent text selection of tick labels when panning with touchpad. */
  pointer-events: none;
}

.axisSystem > svg {
  width: 0;
  height: 0;
}

.grid,
.axis {
  display: block;
  overflow: visible;
}

.axis[data-type='abscissa'] {
  grid-area: bottom-axis;
  text-anchor: middle;
}

.axis[data-type='ordinate'] {
  grid-area: axis-grid; /* `AxisLeft` aligns ticks to the outer left of its own bounding box  */
  text-anchor: end;
}

.grid {
  grid-area: axis-grid;
}

.tick > text {
  fill: darkslategrey;
  font-family: inherit;
  font-size: inherit;
  text-anchor: inherit;
  dominant-baseline: inherit;
}

.label {
  fill: darkslategrey;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: top-axis;
  color: darkslategrey;
  font-size: 1.125em;
}
