.root {
  flex: 1 1 0%;
  display: flex;
  min-width: 0;
}

.mapArea {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* prevent heatmap overflow when enabling `keepAspectRatio` */
}

.heatmap {
  flex: none;
}

/* R3F's root element */
.canvasWrapper {
  overflow: visible !important; /* show child axis grid, which is bigger than canvas */
}

/* R3F's <Dom /> element */
.canvasWrapper > div {
  transform: none !important;
  /* - Prevent panning/zooming from axis when heatmap is zoomed in.
   * - Prevent text selection of tick labels when panning with touchpad. */
  pointer-events: none;
}

.axisGrid {
  position: relative;
  top: 0;
  display: grid;
  grid-template-areas:
    'left-axis .'
    '. bottom-axis';
}

.leftAxisCell {
  grid-area: left-axis;
  display: flex;
}

.bottomAxisCell {
  grid-area: bottom-axis;
  display: flex;
}

.colorBar {
  display: flex;
  padding: 1em;
  width: 6em;
  min-height: 0;
}

.colorBarAxis {
  display: block;
  overflow: visible;
  align-self: center;
}

.gradient {
  flex: 1 0 auto;
  border: 1px solid black;
}

.axis {
  display: block;
  overflow: visible;
  flex: 1 1 0%;
}

.axis[data-orientation='left'] {
  text-anchor: end;
  min-height: 0;
}

.axis[data-orientation='bottom'] {
  min-width: 0;
  text-anchor: middle;
}

.tick > text {
  fill: currentColor;
  font-family: inherit;
  font-size: inherit;
  text-anchor: inherit;
  dominant-baseline: inherit;
}

.tooltip {
  color: inherit !important;
  background-color: rgba(245, 251, 239, 0.7) !important;
}

.tooltipValue {
  display: block;
  font-weight: 600;
  margin-top: 0.25rem;
  font-size: 1.125em;
}
