.toolbar {
  display: flex;
  font-size: 0.875rem;
}

.toggler {
  padding: 0 0.75rem;
  composes: btn-clean from global;
  display: flex;
  align-items: center;
  justify-content: left;
}

.toggler:hover,
.toggler[aria-checked='true'] {
  background-color: var(--primary-dark-bg);
}

.togglerLabel {
  margin-left: 0.5rem;
}

.selectorWrapper {
  display: flex;
  align-items: center;
}

.colorMapSelector {
  width: 8rem;
}
