.tooltip {
  color: inherit !important;
  background-color: rgba(245, 251, 239, 0.7) !important;
}

.tooltipValue {
  display: block;
  font-weight: 600;
  margin-top: 0.25rem;
  font-size: 1.125em;
}
