.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.svg {
  overflow: visible;
  background-color: var(--h5w-domainSlider-histogram--bgColor, white);
}

.bar {
  fill: var(--h5w-domainSlider-histogram-bar--color, royalblue);
}
